
/* //////////////////////////////////////////////// */
/* Styling for the overall appearance of the website */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "DM Sans", sans-serif;
}

body {
    background-color: #fff;
    padding: 0 16px;
}

header {
  background-color: #fff;
  margin: auto -16px;
  padding: 16px 32px;

}

header h1 {
  color: #1e0491;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
}

footer {
  position: relative;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer p {
  color: #ccc;
}
/* //////////////////////////////////////////////// */


/* //////////////////////////////////////////////// */
/* Styling for the Post.jsx file, for the homescreen posts */
.post {
  background-color: #fff;
  border-radius: 0.625rem; 
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25); 
  padding: 1.25rem; 
  max-width: 50rem; 
  margin: 1.25rem auto; 
  font-family: Arial, sans-serif;
  transition: box-shadow 0.3s ease;
}

.post:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); 
}

.post-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.post-header,
.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author {
  font-size: 0.875rem;
  color: #333;
}

.post-time-container {
  display: flex;
  align-items: center;
}

.post-time {
  font-size: 0.75rem;
  color: #777;
  margin-right: 0.625rem;
}

.post-content h2 {
  font-size: 1.125rem;
  margin: 0.625rem 0;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 0.9375rem;
}

.reaction {
  font-size: 0.875rem;
  color: #555;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.reaction:not(:last-child) {
  margin-right: 0.9375rem;
}

/* //////////////////////////////////////////////// */


/* //////////////////////////////////////////////// */
/* Styling for the Navbar.jsx, the navbar */
.nav-header {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  width: 99%;
  margin: 0 auto;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  display: flex;
  align-items: center;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button {
  width: auto;
}

.logo-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}
/* //////////////////////////////////////////////// */

/* //////////////////////////////////////////////// */
/* CommentSection.css */

.comment {
  max-width: 50rem; 
  padding: 10px 20px;
  border-bottom: 1px solid #e1e1e1;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.comment-header strong {
  font-size: 1rem;
  color: #333;
}

.comment-time {
  font-size: 0.85rem;
  color: #777;
}

.comment-content {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.5;
}

.comments-section .text-field-container {
  max-width: 50rem;
  width: 100%; 
  margin: auto;
}

.comments-section {
  max-width: 50rem;
  margin: auto;
}

.comments-section h3 {
  text-align: left;
  font-weight: bold;
  font-size: 1.5rem;
}